<div class="dropdown">

    <div class="dropdown__content">
        <h5>Choose beer</h5>
        <select name="brew-select">
            <option *ngFor="let c of breweryList" [value]="c.name">{{c.name}}</option>
        </select>
        <app-list></app-list>
    </div>

    <div class="dropdown__content">
        <h5>Choose beer</h5>
        <select name="brew-select">
            <option *ngFor="let c of breweryList" [value]="c.name">{{c.name}}</option>
        </select>
        <app-list></app-list>
    </div>

    <div class="dropdown__content">
        <h5>Choose beer</h5>
        <select name="brew-select">
            <option *ngFor="let c of breweryList" [value]="c.name">{{c.name}}</option>
        </select>
        <app-list></app-list>
    </div>
    
</div>






   